.content {
	height: 100%;
	width: 350px;
}

.input {
	height: 50px;
	width: calc(100% + 20px);
	padding: 30px;
	border: 0;
}

.top {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}