.title {
	text-transform: uppercase;
	font-size: 60px;
	font-family: 'Open Sans', sans-serif;
}

.subtitle {
	font-size: 30px;
}

.btn {
	font-size: 25px;
}

.btn:hover {
	color: var(--c-white);
}

.btn.-c:hover {
	color: var(--c-red);
}