:root {
	--c-white: #fff; 
 	--c-black: #000;
 	--c-calc: #68ccf7;
 	--c-calc-shadow:#0670bd;
 	--c-red:#ed3939;
 	--c-action: #ff6f00;
 	--c-btn-hover:#b0e330;
 	--c-action-hover: #125dde;
 	--c-shadow:#b5b5b5;
 	--c-rovno: #e6de0e;
}